<header class="wrapper-header">
    <img src="/images/animal webside logo 1.0_Mesa de trabajo 1.svg" alt="logo" />
    <p>Sitio reservado para "MUNDO ANIMAL"</p>
    <a href="http://127.0.0.1:3000/">Ingrese a la página</a>
</header>